
{%- load_yaml as base_defaults %}
default:
  pkgs:
  - nmap
  pip_pkgs:
  - pyeapi
  - pyIOSXR
  - junos-eznc
  - pyFG
  - bnclient
  - pycsco
  - netmiko
  - pyPluribus
  - pan-python
  - napalm
  dir:
    base: /srv/network
{%- endload %}

{%- set control = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('network:control')) %}

